.home--container{
    flex-grow:1;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line__grid__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__line{
    height: 90%;
    width: 2px;
    border-radius: 50%;
    background-color: #2f7faa;
}

.sidebar--container{
    height: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar__text{
    margin:2px;
}
.sidebar__divider__line{
    height: 2px;
    width: 80%;
    background-color: #2f7faa;
    margin:10px
}
.togglebuttons--container{
    padding:10px;
}
.addtodo__btn{
    margin: 10px auto;
}
.tasklist__grid__item{
    height: 100%;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.tasklist--container{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 5% 5px 5px;
    overflow: hidden scroll;
}
.task--container{
    background: none;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px rgb(204, 204, 204);
    position: relative;
    background: rgb(255, 251, 251);
}
.task__completed{
    background: rgb(225, 255, 225);
}
.task__details {
    box-shadow: none;
    border: none;
    padding: 0;
}
.task__prop{
    padding: 10px;
    margin:0
}
.task__title, .task__description{
    margin: 0 0 0 20px;
}
.task__description{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1rem;
}
.task__prop__underline{
    justify-self: center;
    margin:0 auto;
    width: 80%;
    height:1px;
    background-color: rgb(60, 60, 60);
}
.task__text__center{
    text-align: center;
}
.icons--container{
    padding:0px 10px;
    position: absolute;
    background: rgb(208, 210, 210);
    right: 0;
    right: -100%;
    top:50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.task__icon{
    display: inline-block;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
    margin:10px;
    background: white;
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
}
.done__icon:hover{
    background: rgb(137, 228, 137);
}
.remove__done__icon:hover{
    background: rgb(222, 123, 123);
}
.edit__icon:hover{
    background: rgb(189, 138, 236);
}
.delete__icon:hover{
    background: rgb(222, 123, 123)
}


.task--container:hover{
    background: rgb(196, 196, 196);
    
    .icons--container{
        right: 10px;
        box-shadow: 0 0 10px 1px rgb(153, 153, 153);
    }
}