// add your global imports and css rules here

// @import "../../../node_modules/bootstrap/scss/bootstrap";
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.navbar--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 30px;
    position: relative;
}
.navbar--icon--container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap:15px;
    color: #3d98c9;
}
.navbar__logo{
    margin: 0;
    width: 60px;
}
.navbar--btns--container{
    display: flex;
    gap: 20px;
}
.navbar__btn{
    border: 1px solid #2f7faa;
    border-radius: 10px;
    padding: 7px 13px;
    color: #3d98c9;
    font-size: 1.1rem;
    cursor: pointer;
    background: none;
    transition: all 0.2s ease-in-out;
}
.navbar__btn:hover,
.navbar__btn__highlighted{
    background-color: #2f7faa;
    color: white;
}
.navbar__underline{
    width: 90%;
    height: 1.5px;
    background-color: #2f7faa;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}